Data_Analysis/.ipynb_checkpoints
Data_Analysis/.Rhistory
Data_Analysis/Concurrence/*.txt
Data_Analysis/Channel/*.txt
Data_Analysis/Gamma/*.txt
Data_Analysis/Bell_Parameter/Bell_Ress/*.txt
Data_Analysis/Bell_Parameter/Bell_Gamma/*.txt
Data_Analysis/Bell_Parameter/Bell_Fixed_Base/*.txt
Data_Analysis/Bell_Parameter/Correlator_Gamma/*.txt
Data_Analysis/Energy/Energy_Channel/*.txt
Data_Analysis/Energy/Energy_Gamma/*.txt

# Object files
*.o
*.obj

# Executable files
*.exe

# Third-party libraries and dependencies
eigen-3.4.0/
gpu_experiment/
third_party/

# Installation scripts
install_cuda_support.bat

# Editor swap files
*.swp