Data_Analysis/.ipynb_checkpoints
Data_Analysis/.Rhistory
Data_Analysis/Concurrence/*.txt
Data_Analysis/Channel/*.txt
Data_Analysis/Gamma/*.txt
Data_Analysis/Bell_Parameter/Bell_Ress/*.txt
Data_Analysis/Bell_Parameter/Bell_Gamma/*.txt
Data_Analysis/Bell_Parameter/Bell_Fixed_Base/*.txt
Data_Analysis/Correlator_Gamma/*.txt
Data_Analysis/Energy/Energy_Channel/*.txt
Data_Analysis/Energy/Energy_Gamma/*.txt
